<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://org.springframework.org/schema/beans/spring-beans-4.3.xsd
                    http://www.springframework.org/schema/context http://org.springframework.org/schema/beans/spring-context-4.3.xsd">

    <beans profile="production">
        <bean id="cdPlayer" class="com.zhaoxiang.beans.CDPlayer">
            <property name="cd" ref="compactDisc"/>
        </bean>
        <bean id="compactDisc" class="com.zhaoxiang.beans.SgtPeppers">
        </bean>
    </beans>
</beans>